@import url("https://use.typekit.net/rmf2opm.css");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
.page--contact-container {
  position: relative;
  background-color: #FDFDFD;
  height: 90vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.page--contact-textarea {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  border-right: 3px solid #f97304; }
  .page--contact-textarea .page--title {
    width: 70%; }
  .page--contact-textarea .client--line {
    margin-top: 45px;
    margin-bottom: 45px; }

.page--contact-form {
  width: 50%;
  background: #ffffff;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .page--contact-form h3 {
    font-family: "proxima-nova", sans-serif;
    letter-spacing: 0;
    text-transform: none;
    color: #157070;
    text-align: center; }

#wpforms-13 {
  padding: 55px;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #wpforms-13 form {
    width: 80%; }
  #wpforms-13 label {
    font-size: 0.8em;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #424242; }
  #wpforms-13 button {
    outline: 0;
    border: none;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 300;
    background: #f97304;
    color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease; }

.map {
  width: 85%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }
