@import url("https://use.typekit.net/rmf2opm.css");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
body {
  margin: 0;
  font-family: "proxima-nova", sans-serif; }

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1em;
  font-size: 3em; }

h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  margin: 0; }

p {
  color: #000000; }

.sm-cap {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 -5px 0; }

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000000; }
  a:hover {
    text-decoration: underline; }

.a-white {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px; }
  .a-white:hover {
    font-size: 1.05em;
    background: #ffffff;
    color: #f97304; }

button {
  outline: none;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid #000000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease; }
  button:hover {
    transition: all 0.3s ease;
    transform: scale(1.05); }

.btn-primary {
  padding: 15px;
  background: #f97304;
  border: none;
  color: #ffffff; }

.btn-white {
  padding: 15px;
  background: #ffffff;
  border: none; }

#page-border {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  z-index: 5;
  border: 15px solid #f97304;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.logo {
  width: 70px;
  height: 70px;
  left: 35px;
  top: 30px;
  position: absolute;
  z-index: 3; }
  .logo img {
    width: 100%;
    height: 100%; }

.hero--textarea {
  position: absolute;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero--textarea img {
    width: 80%; }

#logo-main {
  margin-top: -80px;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s ease-out; }

#hero-subtitle {
  font-size: 1.2em;
  margin: 0 70px;
  margin-top: -20px;
  text-align: center;
  color: #f97304;
  font-weight: 100;
  transition: all 0.3s ease;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(150px);
  transition: all 1s ease-out; }

#hero--line {
  position: absolute;
  bottom: -35px;
  width: 2px;
  height: 43%;
  background: #f97304;
  opacity: 0;
  transition: all 4s ease; }

.p-scroll {
  text-transform: uppercase;
  font-size: .5em;
  letter-spacing: 2px;
  color: #f97304;
  position: absolute;
  bottom: -33px;
  left: -17px;
  transition: all 0.3s ease; }

.bounce {
  animation: bounce 2s ease-in infinite; }

.client-container {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #d44206; }
  .client-container h1 {
    margin-left: 7%;
    color: #ffffff;
    font-size: 2em; }
  .client-container p {
    order: 2;
    margin-left: auto;
    margin-right: 7%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px; }

.background-container {
  width: 100%;
  height: 70vh;
  position: relative; }

.background--image {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 120%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1554774853-7f03caeb4b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2022&q=80");
  background-size: cover;
  background-position: center; }

.client--textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center; }

.about-container {
  position: relative;
  width: 100%;
  height: 85vh;
  background: #f97304; }
  .about-container .hero-title-line {
    background: #fb9334;
    margin-bottom: 30px; }
  .about-container h1 {
    padding-top: 75px;
    margin-left: 7%;
    color: #ffffff;
    font-size: 5em;
    line-height: 1.2em; }
    .about-container h1 span {
      color: #fb9334; }
  .about-container h2 {
    margin: 0 7.5%;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.3em;
    font-size: 1.3em; }

.logo-bg {
  position: absolute;
  top: -30%;
  opacity: .1;
  right: 0;
  width: 60%;
  z-index: 0; }

.about--bigtitle {
  position: absolute;
  left: 7%;
  bottom: -50px;
  font-size: 5em;
  color: #ffffff; }
  .about--bigtitle span {
    color: #fb9334; }

@keyframes bounce {
  50% {
    transform: translateY(-25px); } }
