@import url("https://use.typekit.net/rmf2opm.css");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
body {
  margin: 0;
  font-family: "proxima-nova", sans-serif; }

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1em;
  font-size: 3em; }

h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  margin: 0; }

p {
  color: #000000; }

.sm-cap {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 -5px 0; }

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000000; }
  a:hover {
    text-decoration: underline; }

.a-white {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px; }
  .a-white:hover {
    font-size: 1.05em;
    background: #ffffff;
    color: #f97304; }

button {
  outline: none;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid #000000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease; }
  button:hover {
    transition: all 0.3s ease;
    transform: scale(1.05); }

.btn-primary {
  padding: 15px;
  background: #f97304;
  border: none;
  color: #ffffff; }

.btn-white {
  padding: 15px;
  background: #ffffff;
  border: none; }

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative; }

.logo {
  width: 70px;
  height: 70px;
  left: 20px;
  top: 25px;
  position: absolute;
  z-index: 3; }
  .logo img {
    width: 100%;
    height: 100%; }

.hero-textarea {
  width: 100%;
  height: 100%;
  position: absolute; }
  .hero-textarea button {
    margin-left: 7.5%;
    margin-top: 20px; }

.hero-title {
  color: #ffffff;
  font-size: 4.8em;
  margin: 0;
  margin-top: 30%;
  margin-left: 7%;
  line-height: 1em; }

.hero-title-line {
  background: #f97304;
  width: 50px;
  height: 7px;
  margin-left: 7.5%;
  margin-top: 25px; }

.hero-subtitle {
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 300;
  margin-left: 7.5%; }

/* homepage hero video background */
#hero-video {
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%; }

.hero-video--overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%; }

#video-btn {
  position: absolute;
  opacity: .7;
  right: 20px;
  bottom: 20px;
  border: 1px solid #ffffff;
  background: none;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .4em; }

.client-container {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #d44206; }
  .client-container h1 {
    margin-left: 7%;
    color: #ffffff;
    font-size: 2em; }
  .client-container p {
    order: 2;
    margin-left: auto;
    margin-right: 7%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px; }

.client--textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center; }

.about-container {
  position: relative;
  width: 100%;
  height: 85vh;
  background: #f97304; }
  .about-container .hero-title-line {
    background: #fb9334;
    margin-bottom: 30px; }
  .about-container h1 {
    padding-top: 75px;
    margin-left: 7%;
    color: #ffffff;
    font-size: 5em;
    line-height: 1.2em; }
    .about-container h1 span {
      color: #fb9334; }
  .about-container h2 {
    margin: 0 7.5%;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.3em;
    font-size: 1.3em; }

.logo-bg {
  position: absolute;
  top: -30%;
  opacity: .1;
  right: 0;
  width: 60%;
  z-index: 0; }

.about--bigtitle {
  position: absolute;
  left: 7%;
  bottom: -50px;
  font-size: 5em;
  color: #ffffff; }
  .about--bigtitle span {
    color: #fb9334; }

.work-container {
  position: relative;
  width: 100%;
  height: 90vh; }

.work-video--grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  width: 86%;
  height: 55%;
  position: absolute;
  left: 7%;
  top: 20%; }

.work-video--item {
  position: relative;
  transition: all 0.3s ease;
  z-index: 0; }
  .work-video--item:hover {
    transform: scale(1.05);
    z-index: 3;
    background: #ffffff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none; }

.work-video--thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45%;
  background: rgba(0, 0, 0, 0.7); }

.work-video--textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .work-video--textarea p, .work-video--textarea h3, .work-video--textarea button {
    margin-left: 10%; }

.work-video--btn {
  margin-top: 15px;
  align-self: flex-start;
  padding: 10px; }

.work-container--main-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .work-container--main-btn button {
    margin-bottom: 8%; }

.services-container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  position: relative; }

.services--left {
  position: absolute;
  width: 48%;
  height: 100%; }
  .services--left h1 {
    margin-top: 15%;
    color: #f97304;
    font-size: 5em;
    line-height: 1em;
    text-align: right; }
  .services--left h2 {
    text-align: right;
    margin-top: 340px;
    font-size: 2em; }
    .services--left h2 span {
      color: #f97304; }

.services--line {
  position: absolute;
  right: 15px;
  width: 5px;
  background: #f97304;
  height: 300px;
  margin-top: 20px; }

.services--right {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0; }

.services--cclogo {
  position: absolute;
  width: 80%;
  min-width: 400px;
  top: 100px;
  right: 10%; }

.services--menu {
  position: absolute;
  bottom: 10%;
  right: 12%;
  width: 80%;
  height: 40%;
  background: #f97304; }
  .services--menu ul {
    margin: 30px 0;
    list-style-type: none;
    font-size: 2.5em;
    font-family: "Oswald", sans-serif;
    color: #ffffff; }

.arrow-lg {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 20px;
  bottom: 10px; }
  .arrow-lg p {
    font-size: .7em;
    margin-top: 26px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.5); }
  .arrow-lg i {
    cursor: pointer;
    font-size: 4em;
    transition: all 0.3s ease; }
    .arrow-lg i:hover {
      transition: all 0.3s ease;
      color: #ffffff;
      transform: scale(1.1); }

.contact-container {
  position: relative;
  background: url("../assets/la-bg.png");
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center; }

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }

.contact--text {
  margin-left: 7%;
  color: #ffffff;
  position: absolute; }
  .contact--text h1 {
    font-size: 5.5em; }
  .contact--text span {
    color: #fb9334; }
  .contact--text button {
    margin-top: 15px;
    margin-left: 10px; }

footer {
  position: relative;
  background: #f97304;
  width: 100%;
  height: 35vh; }

.footer-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .footer-container p {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: .8em;
    margin: 0; }
  .footer-container .sm-cap {
    font-size: .7em;
    bottom: 10px;
    position: absolute;
    color: #d44206; }

.a-sm {
  color: #fb9334;
  font-weight: 800;
  font-size: 1.1em; }

.footer--logo {
  width: 50px;
  opacity: .7;
  margin-bottom: 15px; }

.social-icons {
  list-style-type: none;
  margin-top: 25px;
  padding: 0; }
  .social-icons li {
    display: inline; }
  .social-icons a {
    color: #ffffff;
    font-size: 1.3em;
    padding: 20px; }
    .social-icons a:hover {
      font-size: 1.5em;
      color: #d44206; }
