@import url("https://use.typekit.net/rmf2opm.css");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
.page--hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/about-page.jpg");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.page--hero-textarea {
  position: absolute;
  width: 80%;
  height: 40%;
  left: 10%;
  top: 20%;
  transition-delay: 7s;
  transition: all 2s ease; }

.page--title h1 {
  font-size: 5em;
  color: #f97304; }
  .page--title h1 span {
    color: #157070; }

.page--title p {
  color: #157070;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 8px; }

.page--title-sm {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 2px; }
  .page--title-sm span {
    background: #157070;
    color: #ffffff;
    padding: 5px; }

.page--about-container {
  position: relative;
  width: 100%;
  height: 40vh;
  background: #d44206;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .page--about-container h2 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2em;
    color: #ffffff; }
    .page--about-container h2 span {
      background: #ffffff;
      color: #d44206; }

.page--about-grid-container {
  position: relative;
  width: 100%;
  height: 150vh; }
  .page--about-grid-container h3 {
    color: #157070;
    margin-top: -15px;
    font-size: 2.4em; }

.about--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%; }

.about--grid-item1 {
  grid-area: 1 / 1 / 2 / 2;
  background: url("../assets/marcCC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.about--grid-item2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 12%; }

.about--grid-item3 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 12%;
  text-align: right; }

.about--grid-item4 {
  grid-area: 2 / 2 / 3 / 3;
  background: url("../assets/minaCC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.about--grid-item5 {
  grid-area: 3 / 1 / 4 / 2;
  background: url("../assets/ricardoCC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.about--grid-item6 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 12%; }

.grid-item--text span {
  color: #f97304;
  font-style: italic; }

.about--cta-container {
  width: 100%;
  height: 40vh;
  background: #d44206;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .about--cta-container h1 {
    color: #ffffff; }
  .about--cta-container button {
    margin-top: 2%; }
    .about--cta-container button:hover {
      background: #157070;
      color: #ffffff; }

.page--work-hero-container {
  position: relative;
  height: 75vh;
  width: 100%; }
  .page--work-hero-container .page--hero-textarea {
    top: 35%; }
  .page--work-hero-container .page--title h1 {
    font-size: 7em; }

.page--work-grid-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17%; }

.page--work-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px; }

.page--client-item {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #f97304;
  height: 300px; }
  .page--client-item img {
    width: 50%;
    height: auto; }

.page--client-item:hover .page--client-item-overlay {
  transform: translateY(-100%); }

.page--client-item-overlay {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f97304;
  transform: translateY(0);
  transition: all 0.3s ease; }
  .page--client-item-overlay p {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: "Oswald", sans-serif; }
  .page--client-item-overlay h3 {
    color: #ffffff;
    font-size: 3em; }
