@import 'variables';

#menu--box {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 35px;
  top: 0;
  right: 15px;
  background: $orange;
  padding: 25px;
  cursor: pointer;
  transition: all .5s ease-out;
  p {
    color: $white;
    margin: 0;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -4px;
    margin-top: 10px;
  }
  &:hover {
    transform: scale(1.05);
    .menu--icon {
      background: $lightorange;
    }
  }
}

.menu--icon {
  position: relative;
  width: 100%;
  height: 3px;
  margin-bottom: 22%;
  border-radius: 20px;
  background: $white;
}


#menu--close {
  position: fixed;
  transform: translateY(-100px);
  z-index: 10;
  width: 30px;
  height: 35px;
  top: 0;
  right: 15px;
  background: $white;
  padding: 25px;
  cursor: pointer;
  transition: all .5s ease-in;
  p {
    color: $orange;
    margin: 0;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -8px;
    margin-top: 20px;
  }
}
.menu--line, .menu--line2 {
  position: relative;
  width: 100%;
  height: 3px;
  margin-top: 7px;
  border-radius: 20px;
  background: $orange;
}
.menu--line {
  transform: scale(1.1) rotate(45deg);
}
.menu--line2 {
  margin-top: -2px;
  transform: scale(1.1) rotate(-45deg);
}


.nav--open {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $orange;
  z-index: 9;
  transition: $ease-out;
  transform: translateY(-100%);
  opacity: 0;
  overflow-y: scroll;
}

.nav--main-content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav--main-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  li {
    margin-bottom: 20px;
    font-family: $header;
    color: $white;
    text-transform: lowercase;
    font-size: 3.7em;
    font-weight: 800;
  }
  a {
    margin-top: 10px;
    color: $white;
    &:hover {
      color: $lightorange;
    }
  }
}

.nav--number {
  font-size: 14px;
  font-family: $body;
  letter-spacing: 4px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
  }
}

.icon-sm {
  font-size: .5em;
  color: $redorange;
  cursor: pointer;
  transition: $ease;
  &:hover {
    color: $teal;
    font-size: .55em;
  }
}

.nav--special {
  margin-left: 35px;
}
#services--dropdown {
  list-style: none;
  margin-top: -20px;
  margin-left: -35px;
  transition: $ease;
  li {
    font-size: 0.45em;
    font-weight: 300;
    margin: 0;
    display: inline-block;
    padding-right: 20px;
    color: $redorange;
    transition: $ease;
    cursor: pointer;
    &:hover {
      color: $teal;
      font-size: .48em;
    }
  }
}
