//fonts
@import url("https://use.typekit.net/rmf2opm.css");
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$body: "proxima-nova", sans-serif;
$header: "Oswald", sans-serif;


//colors
$orange: #f97304;
$redorange: #d44206;
$lightorange: #fb9334;
$black: #000000;
$dark: #424242;
$white: #ffffff;
$light: #F9F7F4;
$teal: #157070;
$navy: #023d67;
$blue: #01739B;

//transition
$ease: all .3s ease;
$ease-out: all .3s ease-out;
$ease-slow: all .5s ease-out;
