//fonts
@import url("https://use.typekit.net/rmf2opm.css");
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$body: "proxima-nova", sans-serif;
$header: "Oswald", sans-serif;


//colors
$orange: #f97304;
$redorange: #d44206;
$lightorange: #fb9334;
$black: #000000;
$white: #ffffff;
$teal: #157070;
$navy: #023d67;
$blue: #01739B;

//transition
$ease: all .3s ease;
$ease-slow: all 1s ease-out;
