@import 'variables';

.page--contact-container {
  position: relative;
  background-color: #FDFDFD;
  height: 90vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page--contact-textarea {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.page--contact-form {
  width: 50%;
  background: $lightorange;
  height: 100%;
}
