@import 'variables';


.page--contact-fixed {
  position: relative;
  background-color: #FDFDFD;
  height: 100vh;
  min-height: 700px;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../assets/cc-office.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin-left: 30%;
    color: $white;
    span {
      color: $orange;
    }
  }
}

.page--contact-scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 100vh;
  overflow-y: scroll;
  .page--title {
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .client--line {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}



.page--contact-form {
  width: 80%;
  margin-left: 10%;
  background: $white;
  h3 {
    color: $teal;
    span {
      color: $orange;
    }
  }
}

#wpforms-19{
  width: 97%;
  margin-left: 1.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 100%;
  }
  label {
    font-size: 0.8em;
    font-family: $body;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $dark;
  }
  button {
    outline: 0;
    border: none;
    font-family: $body;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 300;
    background: $orange;
    color: $white;
    box-shadow: 1px 1px 2px rgba($black, .3);
    cursor: pointer;
    transition: $ease;
  }
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba($orange,1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba($orange, 1);
  }
  input[type=email]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba($orange,1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba($orange, 1);
  }
}

.map {
  width: 100%;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
}
