@import 'variables';
@import 'navigation';

::-webkit-scrollbar {
    display: none;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $body;

}

#page-load {
  background: $orange;
  z-index: 20;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 5s opacity;
}
.fade {
  opacity: 0 !important;
}
h1 {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1em;
  font-size: 3em;
}

h3 {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  margin: 0;
}

p {
  color: $dark;
}

.sm-cap {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 -5px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: $ease;
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

.a-white {
  border: 1px solid $white;
  color: $white;
  padding: 5px;
  &:hover {
    font-size: 1.05em;
    background: $white;
    color: $orange;
  }
}

button {
  outline: none;
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid $black;
  box-shadow: 1px 1px 2px rgba($black, .3);
  cursor: pointer;
  transition: $ease;
  &:hover {
    transition: $ease;
    transform: scale(1.05);
  }
}

.btn-primary {
  padding: 15px;
  background: $orange;
  border: none;
  color: $white;
}
.btn-white {
  padding: 15px;
  background: $white;
  border: none;
}

#page-border-top {
  width: 100%;
  height: 15px;
  background: $orange;
  position: fixed;
  z-index: 10;
}

#page-border-bottom {
  width: 100%;
  height: 15px;
  background: $orange;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
#page-border-left {
  height: 100%;
  width: 15px;
  background: $orange;
  position: fixed;
  z-index:10;
}
#page-border-right {
  height: 100%;
  width: 15px;
  background: $orange;
  position: fixed;
  right: 0;
  z-index: 10;
}

.hero-container {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 70px;
  height: 70px;
  left: 35px;
  top: 30px;
  position: absolute;
  z-index: 3;
  img {
    width: 100%;
    height: 100%;
  }
}

.hero--textarea {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 80%;
  }
}

#logo-main {
  margin-top: -40px;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s ease-out;
  width: 75%;
}


/* homepage hero video background */
#hero-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  // height: 100vh;
  position: fixed;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

.hero-video--overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
}

#video-btn {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background: none;
  border: 0;
  padding: 10px;
  cursor: pointer;
  color: rgba($orange, .8);
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75em;
  box-shadow: none;
}

.swipe-up {
  position: absolute;
  bottom: 0;
  img {
    width: 120px;
    z-index: 20;
  }
}

.work-container {
  position: relative;
  width: 100%;
  // height: 115vh;
  background: $redorange;
  // min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-container--title {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  z-index: 5;
  h1 {
    margin-top: 4%;
    margin-bottom: 5%;
    color: $white;
    font-size: 5em;
    line-height: 1em;
  }
}

.work-video--grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  width: 87%;
  height: 55%;
  max-width: 1300px;
  z-index: 1;
}

.work-video--item {
  position: relative;
  height: 520px;
  transition: $ease;
  z-index: 0;
  &:hover {
    transform: scale(1.05);
    z-index: 3;
    background: $white;
    box-shadow: 2px 2px 15px rgba($black, .4);
    cursor: pointer;
    border: none;
  }
}
.work-video--thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 55%;
  overflow: hidden;
}
.work-video {
  width: 100%;
}

.work-video--textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  background: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p, h3, button{
    margin-left: 10%;
    margin-right: 7%;
  }
  .sm-cap {
    font-size: .9em;
  }
  p {
    margin-bottom: 5px;
    color: $white;
  }
  .sm-cap span{
    background: $teal;
    padding: 5px;
  }
  h3 {
    line-height: 1.3em;
  }
}

.work-video--btn {
  margin-top: 15px;
  align-self: flex-start;
  padding: 10px;
  transition: $ease;
  &:hover {
    background: $teal;
    color: $white;
  }
}

.work-container--main-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  button {
    margin-bottom: 7%;
    margin-top: 5%;
    border: 1px solid $black;
    &:hover {
      background: $teal;
      color: $white;
    }
  }
}

.services-container {
  width: 100%;
  background: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 800px;
}

.services--header {
  width: 100%;
  background: $white;
  text-align: center;
  h1 {
    margin-top: 7%;
    color: $orange;
    font-size: 5em;
    line-height: 1em;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    span {
      color: $orange;
    }
  }
}


.services--grid {
  margin-top: 2%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 87%;
  height: 60%;
  grid-gap: 20px;
  max-width: 1300px;
}
.services--item {
  overflow: hidden;
  cursor: pointer;
  height: 300px;
}
.item-text, .item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  h3 {
    color: $white;
    text-align: center;
  }
}

.item-button {
  a {
    background: $white;
    padding: 5px;
    transition: $ease;
    h3 {
      color: $orange;
    }
    &:hover {
      text-decoration: none;
      font-size: 1.1em;
    }
  }
}

.item1 {
  background-image: url('../assets/services1.jpg');
  background-size: cover;
  grid-area: 1 / 1 / 2 / 3;
}
.item2 {
  background-image: url('../assets/services2.jpg');
  background-size: cover;
  grid-area: 1 / 3 / 2 / 5;
}
.item3 {
  background-image: url('../assets/services3.jpg');
  background-size: cover;
  grid-area: 1 / 5 / 2 / 7;
}
.item4 {
  background-image: url('../assets/services4.jpg');
  background-size: cover;
  grid-area: 2 / 2 / 3 / 4;
}
.item5 {
  background-image: url('../assets/services5.jpg');
  background-size: cover;
  grid-area: 2 / 4 / 3 / 6;
}

.services--item:hover .services--item-overlay {
  transform: translateY(-100%);
}
.services--item:hover .item-text {
  opacity: 0;
}

.services--item-overlay {
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  align-items: center;
  transform: translateY(0);
  transition: $ease;
  p {
    padding: 20px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: $header;
  }
}

.overlay-bg1 {
  background: linear-gradient(to bottom right, rgba($dark, .1), rgba($teal, .3));
}
.overlay-bg2 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($blue, .3));
}
.overlay-bg3 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($redorange, .3));
}
.overlay-bg4 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($navy, .3));
}
.overlay-bg5 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($lightorange, .3));
}

.arrow-lg {
  display: flex;
  color: rgba($white, .5);
  position: absolute;
  right: 20px;
  bottom: 10px;
  p {
    font-size: .7em;
    margin-top: 26px;
    margin-right: 8px;
    color: rgba($white, .5);
  }
  i {
    cursor: pointer;
    font-size: 4em;
    transition: $ease;
    &:hover {
      transition: $ease;
      color: $white;
      transform: scale(1.1);
    }
  }
}

.about-container {
  position: relative;
  width: 100%;
  height: 110vh;
  min-height: 870px;
  max-height: 920px;
  background: $lightorange;
}


.about--bg {
  position: absolute;
  width: 100%;
  height: 15%;
  background: $redorange;
  bottom: 0;
}

.logo-bg {
  position: absolute;
  top: 5%;
  opacity: .1;
  right: 0;
  width: 60%;
  max-width: 900px;
  z-index: 1;
}
.about--textarea {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .hero-title-line {
    background: $orange;
    margin-bottom: 30px;
    width: 50px;
    height: 7px;
    margin-top: 25px;
  }
  h1 {
    color: $white;
    font-size: 5em;
    line-height: 1.2em;
    span {
      color: $orange;
    }
  }
  h2 {
    color: $white;
    font-weight: 400;
    line-height: 1em;
    font-size: 1.5em;
    width: 60%;
  }
}

.about--bigtitle {
  z-index: 5;
  font-size: 5em;
  color: $white;
  span {
    color: $orange;
  }
}


.contact-container {
  position: relative;
  background: url('../assets/home-contact-bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  background: rgba($black, .5);
  width: 100%;
  height: 100%;
}
.contact--text {
  color: $white;
  position: absolute;
  text-align: center;
  h1 {
    font-size: 5.5em;
  }
  span {
    color: $lightorange;
  }
  button {
    margin-top: 15px;
    margin-left: 10px;
  }
}


footer {
  position: relative;
  background: $orange;
  width: 100%;
  height: 35vh;
  min-height: 300px;
  padding-bottom: 8px;
}

.footer-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    color: rgba($white, .8);
    text-align: center;
    font-size: .8em;
    margin: 0;
  }
  .sm-cap {
    font-size: .7em;
    bottom: 10px;
    position: absolute;
    color: $redorange;
  }
}

.a-sm {
  color: $lightorange;
  font-weight: 800;
  font-size: 1.1em;
}
.footer--logo {
  width: 50px;
  opacity: .7;
  margin-bottom: 15px;
}

.social-icons {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  li {
    display: inline;
  }
  a {
    color: $white;
    font-size: 1.3em;
    padding: 20px;
    &:hover {
      font-size: 1.5em;
      color: $redorange;
    }
  }
}
@media screen and (min-width: 1400px) {
  .work-video--thumbnail {
    height: 65%;
  }
}

@media screen and (max-width: 1200px) {
  #hero-video {
    height: 100vh;
  }
  .work-video--thumbnail {
    height: 60%;
  }
  .work-video--textarea {
    height: 40%;
  }
}
@media screen and (max-width: 1100px) {
  .work-video--thumbnail {
    height: 50%;
  }
  .work-video--textarea {
    height: 50%;
  }
}

@media screen and (max-width: 875px) {
  .work-video--thumbnail {
    height: 45%;
  }
  .work-video--textarea {
    height: 55%;
  }
  .about--textarea {
    h2 {
      width: 80%;
    }
  }
}

@media screen and (max-width: 800px) {
  .work-video--grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .work-video--thumbnail {
    width: 50%;
    height: 100%;
  }
  .work-video--textarea {
    width: 50%;
    height: 100%;
    right: 0;
  }
  .work-video--item {
    height: 300px;
  }
  .work-container--title {
    h1 {
      font-size: 4em;
    }
  }
  .services--header {
    h1 {
      font-size: 4em;
    }
  }
  .services--grid {
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .services--item {
    height: 300px;
  }
  .item1 {
    grid-area: auto;
  }
  .item2 {
    grid-area: auto;
  }
  .item3 {
    grid-area: auto;
  }
  .item4 {
    grid-area: auto;
  }
  .item5 {
    grid-area: auto;
  }
  .about--textarea {
    h1 {
      font-size: 4em;
    }
  }
  .about--bigtitle {
    font-size: 3.5em;
  }
  .contact--text {
    h1 {
      font-size: 4em;
    }
  }
}
