@import 'variables';
@import 'navigation';

::-webkit-scrollbar {
    display: none;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $body;

}

#page-load {
  background: $orange;
  z-index: 20;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 5s opacity;
}
.fade {
  opacity: 0 !important;
}
h1 {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1em;
  font-size: 3em;
}

h3 {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  margin: 0;
}

p {
  color: $dark;
}

.sm-cap {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 -5px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: $ease;
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

.a-white {
  border: 1px solid $white;
  color: $white;
  padding: 5px;
  &:hover {
    font-size: 1.05em;
    background: $white;
    color: $orange;
  }
}

button {
  outline: none;
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid $black;
  box-shadow: 1px 1px 2px rgba($black, .3);
  cursor: pointer;
  transition: $ease;
  &:hover {
    transition: $ease;
    transform: scale(1.05);
  }
}

.btn-primary {
  padding: 15px;
  background: $orange;
  border: none;
  color: $white;
}
.btn-white {
  padding: 15px;
  background: $white;
  border: none;
}
.btn-light {
  background: $light;
  padding: 15px;
}

#page-border-top {
  width: 100%;
  height: 15px;
  background: $orange;
  position: fixed;
  z-index: 10;
}

#page-border-bottom {
  width: 100%;
  height: 15px;
  background: $orange;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
#page-border-left {
  height: 100%;
  width: 15px;
  background: $orange;
  position: fixed;
  z-index:10;
}
#page-border-right {
  height: 100%;
  width: 15px;
  background: $orange;
  position: fixed;
  right: 0;
  z-index: 10;
}

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 70px;
  height: 70px;
  left: 35px;
  top: 30px;
  position: absolute;
  z-index: 3;
  img {
    width: 100%;
    height: 100%;
  }
}

.hero--textarea {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 80%;
  }
}

#logo-main {
  margin-top: -40px;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1s ease-out;
  width: 75%;
}
#logo-mobile {
  display: none;
}


/* homepage hero video background */
#hero-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  // height: 100vh;
  position: fixed;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

.hero-video--overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
}

#video-btn {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background: none;
  border: 0;
  padding: 10px;
  cursor: pointer;
  color: rgba($orange, .8);
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .75em;
  box-shadow: none;
}

.swipe-up {
  position: absolute;
  bottom: 0;
  img {
    width: 120px;
    z-index: 20;
  }
}

.work-container {
  position: relative;
  width: 100%;
  // height: 115vh;
  background: $redorange;
  // min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-container--title {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  z-index: 5;
  h1 {
    margin-top: 4%;
    margin-bottom: 5%;
    color: $white;
    font-size: 5em;
    line-height: 1em;
  }
}

.work-video--grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  width: 87%;
  height: 55%;
  max-width: 1300px;
  z-index: 1;
}

.work-video--item {
  position: relative;
  height: 520px;
  transition: $ease;
  z-index: 0;
  &:hover {
    transform: scale(1.05);
    z-index: 3;
    background: $white;
    box-shadow: 2px 2px 15px rgba($black, .4);
    cursor: pointer;
    border: none;
  }
}
.work-video--thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 55%;
  overflow: hidden;
}
.work-video {
  width: 100%;
}
.work-video-horizontal {
  object-fit: cover;
  height: 100%;
}

.work-video--textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  background: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p, h3, button{
    margin-left: 10%;
    margin-right: 7%;
  }
  .sm-cap {
    font-size: .9em;
  }
  p {
    margin-bottom: 5px;
    color: $white;
  }
  .sm-cap span{
    background: $teal;
    padding: 5px;
  }
  h3 {
    line-height: 1.3em;
  }
}

.work-video--btn {
  margin-top: 15px;
  align-self: flex-start;
  padding: 10px;
  transition: $ease;
  &:hover {
    background: $teal;
    color: $white;
  }
}

.work-container--main-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // button {
  //   margin-bottom: 7%;
  //   margin-top: 5%;
  //   border: 1px solid $black;
  //   &:hover {
  //     background: $teal;
  //     color: $white;
  //   }
  // }
  a {
    margin-bottom: 7%;
    margin-top: 5%;
  }
}

.services-container {
  width: 100%;
  background: $white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 800px;
}

.services--header {
  width: 100%;
  background: $white;
  text-align: center;
  h1 {
    margin-top: 7%;
    color: $orange;
    font-size: 5em;
    line-height: 1em;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    span {
      color: $orange;
    }
  }
}


.services--grid {
  margin-top: 2%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 87%;
  height: 60%;
  grid-gap: 20px;
  max-width: 1300px;
}
.services--item {
  overflow: hidden;
  cursor: pointer;
  height: 300px;
}
.item-text, .item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  h3 {
    color: $white;
    text-align: center;
  }
}

.item-button {
  a {
    background: $white;
    padding: 5px;
    transition: $ease;
    h3 {
      color: $orange;
    }
    &:hover {
      text-decoration: none;
      font-size: 1.1em;
    }
  }
}

.item1 {
  background-image: url('../assets/services1.jpg');
  background-size: cover;
}
.item2 {
  background-image: url('../assets/services2.jpg');
  background-size: cover;
}
.item3 {
  background-image: url('../assets/services3.jpg');
  background-size: cover;
}
.item4 {
  background-image: url('../assets/services5.jpg');
  background-size: cover;
}

.services--item:hover .services--item-overlay {
  transform: translateY(-100%);
}
.services--item:hover .item-text {
  opacity: 0;
}

.services--item-overlay {
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  align-items: center;
  transform: translateY(0);
  transition: $ease;
  p {
    padding: 20px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: $header;
  }
}

.overlay-bg1 {
  background: linear-gradient(to bottom right, rgba($dark, .1), rgba($teal, .3));
}
.overlay-bg2 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($blue, .3));
}
.overlay-bg3 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($redorange, .3));
}
.overlay-bg4 {
    background: linear-gradient(to bottom right, rgba($dark, .1), rgba($navy, .3));
}

.arrow-lg {
  display: flex;
  color: rgba($white, .5);
  position: absolute;
  right: 20px;
  bottom: 10px;
  p {
    font-size: .7em;
    margin-top: 26px;
    margin-right: 8px;
    color: rgba($white, .5);
  }
  i {
    cursor: pointer;
    font-size: 4em;
    transition: $ease;
    &:hover {
      transition: $ease;
      color: $white;
      transform: scale(1.1);
    }
  }
}

.about-container {
  position: relative;
  width: 100%;
  height: 110vh;
  min-height: 870px;
  max-height: 920px;
  background: $lightorange;
}


.about--bg {
  position: absolute;
  width: 100%;
  height: 15%;
  background: $redorange;
  bottom: 0;
}

.logo-bg {
  position: absolute;
  top: 5%;
  opacity: .1;
  right: 0;
  width: 60%;
  max-width: 900px;
  z-index: 1;
}
.about--textarea {
  position: absolute;
  width: 100%;
  top: 10%;
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .hero-title-line {
    background: $orange;
    margin-bottom: 30px;
    width: 50px;
    height: 7px;
    margin-top: 25px;
  }
  h1 {
    color: $white;
    font-size: 5em;
    line-height: 1.2em;
    span {
      color: $orange;
    }
  }
  h2 {
    color: $white;
    font-weight: 400;
    line-height: 1em;
    font-size: 1.5em;
    width: 60%;
  }
}

.about--bigtitle {
  z-index: 5;
  font-size: 5em;
  color: $white;
  span {
    color: $orange;
  }
}


.contact-container {
  position: relative;
  background: url('../assets/beach.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  background: rgba($black, .5);
  width: 100%;
  height: 100%;
}
.contact--text {
  color: $white;
  position: absolute;
  text-align: center;
  h1 {
    font-size: 5.5em;
  }
  span {
    color: $lightorange;
  }
  button {
    margin-top: 15px;
    margin-left: 10px;
  }
}


footer {
  position: relative;
  background: $orange;
  width: 100%;
  height: 35vh;
  min-height: 300px;
  padding-bottom: 8px;
}

.footer-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    color: rgba($white, .8);
    text-align: center;
    font-size: .8em;
    margin: 0;
  }
  .sm-cap {
    font-size: .7em;
    bottom: 10px;
    position: absolute;
    color: $redorange;
  }
}

.a-sm {
  color: $lightorange;
  font-weight: 800;
  font-size: 1.1em;
}
.footer--logo {
  width: 50px;
  opacity: .7;
  margin-bottom: 15px;
}

.social-icons {
  list-style-type: none;
  margin-top: 25px;
  padding: 0;
  li {
    display: inline;
  }
  a {
    color: $white;
    font-size: 1.3em;
    padding: 20px;
    &:hover {
      font-size: 1.5em;
      color: $redorange;
    }
  }
}

/*internal page styles*/
.page--hero-container {
  position: relative;
  background-color: #FDFDFD;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page--hero-textarea {
  position: relative;
  width: 100%;
  height: 40%;
  max-width: 1100px;
  transition: all 2s ease;
}

.page--title {
  h1 {
    font-size: 5em;
    color: $orange;
    span {
      color: $teal;
    }
  }
  p {
    color: $teal;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 8px;
  }
  .p-white {
    color: $white;
  }
}

.page--title-sm {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 2px;
  span {
    background: $teal;
    color: $white;
    padding: 5px;
  }
}

.page--about-container {
  position: relative;
  width: 100%;
  background: $redorange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 55px 0;
  p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.3em;
    font-weight: 700;
    color: $white;
    // span {
    //   background: $white;
    //   color: $redorange;
    // }
  }
}

.page--about-grid-container {
  position: relative;
  width: 100%;
  // height: 150vh;
  h3 {
    color: $teal;
    margin-top: -15px;
    font-size: 2.4em;
  }
}

.about--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}
.about--grid-item1, .about--grid-item2, .about--grid-item3, .about--grid-item4, .about--grid-item5, .about--grid-item6 {
  min-height: 300px;
}

.about--grid-item1 {
  background: url('../assets/minaCC.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about--grid-item2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 12%;
}
.about--grid-item3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 12%;
  text-align: right;
}
.about--grid-item4 {
  background: url('../assets/ricardoCC.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-item--text {
  span {
    color: $orange;
    font-style: italic;
  }
}

.about--cta-container {
  width: 100%;
  height: 40vh;
  background: $redorange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: $white;
  }
  button {
    margin-top: 2%;
    &:hover {
      background: $teal;
      color: $white;
    }
  }
  a {
    margin-top: 2%;
  }
}

//404 page
.page-404-container {
  width: 100%;
  height: 100vh;
  background: $lightorange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    color: $orange;
    font-size: 7.5em;
    margin: 0 0 15px 0;
  }
  h2 {
    color: $white;
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
  }
  button {
    margin-top: 2%;
    &:hover {
      background: $white;
      color: $dark;
    }
  }
  a {
    margin-top: 2%;
  }
}

//work page

.page--work-hero-container {
  position: relative;
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 500px;
  .page--hero-textarea {
    top: 35%;
    width: 80%;
  }
  .page--title {
    text-align: center;
    h1 {
      font-size: 7em;
    }
  }
}

#hero-work-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  // height: 100vh;
  position: fixed;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

.page--work-grid-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page--work-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  cursor: pointer;
  margin-bottom: 8%;
  max-width: 1100px;
}

.page--client-item {
  overflow: hidden;
  height: 280px;
  transition: $ease;
  // background: $orange;
  z-index: 4;
  img {
    height: auto;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  &:hover {
    background: $white;
    img {
      filter: none;
    }
  }
}

.client-logo {
  width: 75%;
}
.client-logo-sm {
  width: 50%;
}

/*client page*/
.page--client-hero-container2 {
  position: relative;
  height: 350px;
  width: 100%;
  .page--hero-textarea {
    top: 45%;
  }
  .page--title {
    h1 {
      font-size: 5em;
    }
  }
}
.page--client-desc2 {
  width: 100%;
  position: relative;
  // height: 80vh;
  // min-height: 700px;
  display: flex;
  justify-content: center;
}
.client--desc-textarea2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  // height: 100%;
  .page--title-sm {
    span {
      background: $orange;
    }
  }
  h4 {
    font-size: 1.5em;
    margin: 0 0 25px 0;
  }
}

.client--desc-iphone {
  position: relative;
  margin-right: 5%;
  height: 100%;
  width: 380px;
}
#iphone-video {
  // width: 80%;
  max-height: 700px;
}

.iphone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    display: none;
  }
  &:hover {
    button {
      display: block;
    }
  }
}
#pauseBtn {
  border: none;
  box-shadow: none;
  outline: 0;
  i {
    font-size: 5em;
    color: $orange;
  }
}

.client--line {
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 3px;
  height: 5px;
  background: $teal;
  width: 50px;
}


/*client page box grid*/

.client-video-container {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

.client-video--grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin: 10% 8%;
}

.client-video--item {
  position: relative;
  transition: $ease;
  height: 550px;
  &:hover {
    transform: scale(1.05);
    z-index: 3;
    background: $white;
    box-shadow: 2px 2px 15px rgba($black, .4);
    cursor: pointer;
    border: none;
  }
}
.client-video--thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 55%;
  overflow: hidden;
}
.client-video {
  width: 100%;
}

.client-video--textarea {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  background: $light;
}

.client-video-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p, h3, button{
    margin-left: 10%;
    margin-right: 7%;
  }
  .sm-cap {
    font-size: .9em;
  }
  p {
    margin-bottom: 5px;
    color: $white;
  }
  .sm-cap span{
    background: $teal;
    padding: 5px;
  }
  h3 {
    line-height: 1.3em;
  }
}

.thumbnail-bg {
  background: $teal;
}

.client-video--textarea:hover .client--item-overlay {
  transform: translateY(-100%);
}

.client--item-overlay {
  position: absolute;
  height: 102%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: $ease;
  background: linear-gradient(to bottom right, rgba($redorange, 1), rgba($lightorange, 1));
  p {
    padding: 20px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: $header;
  }
}

/*services page*/
.services--hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 500px;
}

.page--services-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  .page--title {
    p {
      text-transform: none;
      letter-spacing: 0px;
      font-size: 1.3em;
      line-height: 1.4em;
      margin-top: 30px;
      color: $dark;
    }
  }
}
.page--services-textarea {
  width: 80%;
  margin-top: -15px;
}
.services--line {
  margin-bottom: 30px;
  margin-top: 35px;
  margin-left: 8px;
  height: 5px;
  background: $teal;
  width: 50px;
}
.page--services-grid-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7% 0;
  .page--work-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .page--client-item {
    height: 200px;
    background: $orange;
    &:hover {
      background: $light;
    }
  }
}

/* contact page */

.page--contact-fixed {
  position: relative;
  background-color: #FDFDFD;
  height: 100vh;
  min-height: 700px;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../assets/cc-office.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.page--contact-scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 100vh;
  overflow-y: scroll;
  .page--title {
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .client--line {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}



// .page--contact-container {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }
// .page--contact-box {
//   width: 80%;
//   margin: 10% 0;
//   .page--title {
//     margin-top: 10%;
//     margin-left: 10%;
//     margin-bottom: 10%;
//   }
//   .client--line {
//     margin-top: 45px;
//     margin-bottom: 45px;
//   }
// }



.page--contact-form {
  width: 80%;
  margin-left: 10%;
  background: $white;
  h3 {
    color: $teal;
    span {
      color: $orange;
    }
  }
}

#wpforms-19{
  width: 97%;
  margin-left: 1.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 100%;
  }
  label {
    font-size: 0.8em;
    font-family: $body;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $dark;
  }
  button {
    outline: 0;
    border: none;
    font-family: $body;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 300;
    background: $orange;
    color: $white;
    box-shadow: 1px 1px 2px rgba($black, .3);
    cursor: pointer;
    transition: $ease;
  }
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba($orange,1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba($orange, 1);
  }
  input[type=email]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba($orange,1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba($orange, 1);
  }
}

.map {
  width: 100%;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media screen and (min-width: 1400px) {
  .work-video--thumbnail {
    height: 65%;
  }
}
@media screen and (min-width: 1300px) {
  .page--client-item {
    height: 350px;
  }
  .page--about-grid-container {
    h3 {
      font-size: 3.5em;
    }
  }
  .grid-item--text {
    font-size: 1.2em;
  }
  .about--grid-item1, .about--grid-item2, .about--grid-item3, .about--grid-item4, .about--grid-item5, .about--grid-item6 {
    min-height: 500px;
  }
}

@media screen and (max-width: 1200px) {
  #hero-video {
    height: 100vh;
  }
  .work-video--thumbnail {
    height: 60%;
  }
  .work-video--textarea {
    height: 40%;
  }
}
@media screen and (max-width: 1100px) {
  .work-video--thumbnail {
    height: 50%;
  }
  .work-video--textarea {
    height: 50%;
  }
}

@media screen and (max-width: 965px) {
  .page--client-hero-container2 {
    text-align: center;
  }
  .page--client-desc2 {
    height: auto;
    min-height: 1200px;
  }
  .client--desc-iphone {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #iphone-video {
    height: 700px;
  }
  .iphone-overlay {
    height: 700px;
  }
  .client--desc-textarea2 {
    width: 80%;
    margin-top: 750px;
    align-items: center;
    text-align: center;
  }
  .client-video--grid {
    grid-template-columns: 1fr;
  }
  .client-video--item {
    height: 300px;
  }
  .client-video--thumbnail {
    width: 50%;
    height: 100%;
  }
  .client-video--textarea {
    width: 50%;
    height: 100%;
    right: 0;
  }
}

@media screen and (max-width: 875px) {
  .nav--main-list {
    li {
      font-size: 3em;
    }
  }
  #services--dropdown {
    li {
      padding-right: 10px;
    }
  }
  .work-video--thumbnail {
    height: 45%;
  }
  .work-video--textarea {
    height: 55%;
  }
  .about--textarea {
    h2 {
      width: 80%;
    }
  }
  .page--services-grid-container {
    .page--work-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 800px) {
  .work-video--grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .work-container--title {
    h1 {
      font-size: 4em;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .services--header {
    h1 {
      font-size: 4em;
    }
  }
  .services--grid {
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .services--item {
    height: 300px;
  }
  .item1 {
    grid-area: auto;
  }
  .item2 {
    grid-area: auto;
  }
  .item3 {
    grid-area: auto;
  }
  .item4 {
    grid-area: auto;
  }
  .item5 {
    grid-area: auto;
  }
  .about--textarea {
    h1 {
      font-size: 4em;
    }
  }
  .about--bigtitle {
    font-size: 3.5em;
  }
  .contact--text {
    h1 {
      font-size: 4em;
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .work-video--thumbnail {
    height: 100%;
  }
  .work-video--textarea {
    width: 50%;
    height: 100%;
    right: 0;
  }
  .work-video--item {
    height: 300px;
  }
}

@media screen and (max-width: 777px) {
  .page--work-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 770px) {
  #services--dropdown {
    margin-top: 3px;
    margin-bottom: -15px;
    margin-left: 0;
    li {
      display: block;
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 670px) {
  .about--grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .about--grid-item3 {
    text-align: left;
    align-items: flex-start;
  }
  .about--grid-item4 {
    grid-area: 3;
  }
  .about--grid-item1, .about--grid-item2, .about--grid-item3, .about--grid-item4, .about--grid-item5, .about--grid-item6 {
    min-height: 250px;
  }
  .page--title {
    h1 {
      font-size: 4em;
    }
  }
  .page--about-container {
    h2 {
      font-size: 1.7em;
    }
  }
  .page--work-hero-container {
    .page--title {
      h1 {
        font-size: 5em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-container {
    height: 770px;
    min-height: 750px;
  }
  .work-container--title {
    h1 {
      font-size: 3em;
    }
  }
  .services--header {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.7em;
    }
  }
  .about--textarea {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.3em;
    }
  }
  .about--bigtitle {
    font-size: 3em;
  }
  .contact--text {
    h1 {
      font-size: 3em;
    }
  }
  .page--client-item {
    height: 200px;
  }
  .page--services-grid-container {
    .page--work-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .page--contact-fixed {
    display: none;
  }
  .page--contact-scroll {
    width: 100%;
    position: relative;
  }
  .map {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  #hero-video, .hero-video--overlay, #video-btn {
    display: none;
  }
  #logo-main {
    display: none;
  }
  #logo-mobile {
    display: block;
    margin-top: 10%;
  }
  .hero-container {
    background: $light;
    height: 50vh;
  }
  .swipe-up {
    display: none;
  }
  .about-container {
    height: 830px;
    min-height: 820px;
  }
  .contact-container {
    background-attachment: scroll;
  }
  .page--about-container {
    h2 {
      font-size: 1.7em;
    }
  }
  .client-video--grid {
    top: 18%;
  }
  .client-video--item {
    height: 550px;
  }
  .client-video--thumbnail {
    width: 100%;
    height: 50%;
  }
  .client-video--textarea {
    width: 100%;
    height: 50%;
  }
  #hero-work-video {
    display: none;
  }
  .page--work-hero-container {
    background: $dark;
  }
  .page--work-grid-container {
    background: $dark;
    .page--work-grid {
      grid-template-columns: 1fr;
    }
    .client-logo-sm {
      width: 35%;
    }
  }
}
