@import 'variables';

.page--hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../assets/about-page.jpg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page--hero-textarea {
  position: absolute;
  width: 80%;
  height: 40%;
  left: 10%;
  top: 20%;
  transition-delay: 7s;
  transition: all 2s ease;
}

.page--title {
  h1 {
    font-size: 5em;
    color: $orange;
    span {
      color: $blue;
    }
  }
  p {
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 8px;
  }
}

.page--title-sm {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 2px;
  span {
    background: $orange;
    color: $white;
    padding: 5px;
  }
}

.page--about-container {
  position: relative;
  width: 100%;
  height: 30vh;
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    margin-left: 10%;
    margin-right: 10%;
    color: $white;
    span {
      background: $white;
      color: $blue;
    }
  }
}
